# Protects the deployment from being disrupted by terminating pods during downtime or maintenance

apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: frontend-deployment
  namespace: prod
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: frontend
      app.kubernetes.io/component: frontend
