apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-deployment
  namespace: prod
  labels:
    app: product
    app.kubernetes.io/component: product
spec:
  replicas: 3
  selector:
    matchLabels:
      app: product # for ingress & egress control (network policy)
      app.kubernetes.io/component: product
  template:
    metadata:
      labels:
        app: product
        app.kubernetes.io/component: product
        azure.workload.identity/use: "true"
    spec:
      # run the container as a non-root user to prevent privilege escalation
      securityContext:
        runAsUser: 1000
        runAsGroup: 3000
        fsGroup: 2000
        # prevent the container from gaining additional privileges
        allowPrivilegeEscalation: false
        capabilities:
          drop: ["ALL"]
      serviceAccountName: prod-sa # Use the Service Account linked to the Azure Identity
      containers:
        - name: product
          image: REPLACE_WITH_ACR/product:REPLACE_WITH_TAG

          env:
            - name: REDIS_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: app-connection-secrets # The name of the resulting Kubernetes Secret
                  key: REDIS_CONNECTION_STRING # The key in the Kubernetes Secret
            - name: COSMOS_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: app-connection-secrets # The name of the resulting Kubernetes Secret
                  key: COSMOS_CONNECTION_STRING # The key in the Kubernetes Secret
          volumeMounts: # volume inside the pod
            - name: secrets-volume
            # secrets will appear here as files
              mountPath: "/mnt/secrets-store"
              readOnly: true

          ports:
            - containerPort: 9000

          resources:
            requests:
              memory: "512Mi"
              cpu: "300m"
            limits:
              memory: "900Mi"
              cpu: "450m"

          # liveness and readiness probes do not start until startup succeeds to not cause interference
          startupProbe:
            httpGet:
              path: /healthz
              port: 9000

          readinessProbe: # know when a container is ready to start accepting traffic
            httpGet:
              path: /healthz
              port: 9000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          livenessProbe: # indicate unrecoverable application failure, for example a deadlock.
            httpGet:
              path: /healthz
              port: 9000
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3 # This ensures the pods is observed as a not ready for a period of time before it's hard killed
      # the CSI stores remote data as a volume for the pod, it doesn't save new data itself as normal volumes
      volumes:
        - name: secrets-volume
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: "azure-kv-secrets" # Reference the SecretProviderClass
