replicaCount: 3

image:
  repository: REPLACE_WITH_ACR_LOGIN_SERVER/cart
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 9003

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 10
  targetCPUUtilizationPercentage: 85
  targetMemoryUtilizationPercentage: 80

serviceAccount:
  create: true
  name: cart-sa
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  clientId: ""

# This is for setting Kubernetes Security Context to a Pod (volume ownership).
podSecurityContext:
  fsGroup: 65532
  seccompProfile:
    type: RuntimeDefault
  
# This is for setting Kubernetes Security Context to a Container.
securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 65532
  runAsGroup: 65532 # Standard Distroless non-root user
  fsGroup: 65532 # Change ownership of the volumes and file system to the non-root user

resources:
  requests:
    memory: "512Mi"
    cpu: "300m"
  limits:
    memory: "900Mi"
    cpu: "450m"

secretProvider:
  keyvaultName: azure-kv-secrets
  tenantID: ""
  secretName: app-connection-secrets # The name of the resulting Kubernetes Secret
  secrets:
    - remoteName: redis-conn-string
      envKey: REDIS_CONNECTION_STRING
    - remoteName: cosmos-conn-string
      envKey: COSMOS_CONNECTION_STRING

probes:
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 3 

# Some Fixes

nameOverride: cart
fullnameOverride: cart