replicaCount: 5

image:
  repository: REPLACE_WITH_ACR_LOGIN_SERVER/product
  pullPolicy: IfNotPresent
  # Don't set tag here so it defaults to Chart.AppVersion

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 10
  targetCPUUtilizationPercentage: 85
  targetMemoryUtilizationPercentage: 80

service:
  type: ClusterIP
  port: 80
  targetPort: 9000

serviceAccount:
  create: true
  name: product-sa
  # Automatically mount a ServiceAccount's API credentials
  automount: true
  clientId: ""

securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 65532
  runAsGroup: 65532

resources:
  requests:
    memory: "512Mi"
    cpu: "300m"
  limits:
    memory: "900Mi"
    cpu: "450m"

secretProvider:
  keyvaultName: azure-kv-secrets
  tenantID: ""
  secretName: app-connection-secrets # The name of the resulting Kubernetes Secret
  secrets:
    - remoteName: redis-conn-string
      envKey: REDIS_CONNECTION_STRING
    - remoteName: cosmos-conn-string
      envKey: COSMOS_CONNECTION_STRING

probes:
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 3 

# Some Fixes
nameOverride: product
fullnameOverride: product
