# The storage account & container part should be done manually before running this workflow.no need for automation. It's a one time setup.
# first comment the backend block in the provider.tf file, so that terraform doesn't try to use the backend.
# then run the following command to create the storage account and container:
# terraform apply -target=azurerm_resource_group.tfstate -target=azurerm_storage_account.tfstate -target=azurerm_storage_container.tfstate
# un-comment the backend block in the provider.tf file after the storage account and container are created.
# terraform init and now you'll migrate to the cloud backend.

name: Infrastructure Provisioning

on:
  push:
    branches: [main]
    paths: [terraform/**]
  workflow_dispatch:

defaults:
  run:
    working-directory: ./terraform

jobs:
  provision:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
      contents: read # Required to checkout code
      actions: read # Required to read vars (implicit)

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.9.1"

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Terraform Init
        env:
          # These tell the backend (Azure Storage) which identity to use
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_USE_OIDC: true
        run: terraform init

      - name: Terraform Plan
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_USE_OIDC: true
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_USE_OIDC: true
        run: terraform apply -auto-approve tfplan

      - name: Save Outputs to GitHub Variables
        env:
          GH_TOKEN: ${{ secrets.ACTIONS_PAT }}
        run: |
          gh variable set ACR_LOGIN_SERVER --body "$(terraform output -raw acr_login_server)"
          gh variable set AKS_NAME --body "$(terraform output -raw aks_cluster_name)"
          gh variable set RESOURCE_GROUP_NAME --body "$(terraform output -raw resource_group_name)"
